<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>

	<header th:replace="layout/layout::header">></header>

	<div class="container my-4">
		<div class="card bg-light"></div>
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">

			<div>
				Username: &nbsp; <span class="list-group-item active"
					th:text="${usuario.username}"></span>
			</div>

			<div class="py-2">
				<h4 class="card-title">
					<a class="btn btn-success btn-xs"
						th:href="@{/listaDeseo/formListaDeseo/} + ${usuario.id}">Crear
						Lista</a>
				</h4>
			</div>

			<div th:if="${#lists.isEmpty(usuario.listasDeseos)}"
				class="alert alert-info my-4"
				th:text="'No hay listas de deseos para el usuario '"></div>

			<table th:if="${not #lists.isEmpty(usuario.listasDeseos)}"
				class="table table-bordered  table-hover my-4">
				<thead>
					<tr>
						<th class="bg-dark text-light" colspan="4">Lista de Deseos</th>
					</tr>
					<tr class="bg-light text-dark">
						<th>id</th>
						<th>nombre</th>
						<th>descripción</th>
						<th>fecha</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listaDeseo: ${usuario.listasDeseos}">
						<td th:text="${listaDeseo.id}"></td>
						<td th:text="${listaDeseo.nombre}"></td>
						<td th:text="${listaDeseo.descripcion}"></td>
						<td th:text="${listaDeseo.createAt}"></td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>

	<footer th:replace="layout/layout::footer">></footer>
</body>
</html>